# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List of popular languages for Data Science
- List of commonly used libraries for Data Science
- List of some popular Data Science tools
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. C++
5. C
6. Scala
7. Julia
8. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools| 
| ------ |
| Apache Spark |
| Tensor Flow |
| Caffe |
| Java-ML |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gianluca Giulini